<div class="jumbotron">
  <h1 class="display-4">
    <%= lista_contato.Primeiro_Nome %> <%= lista_contato.Ultimo_Nome %>
  </h1>

  <br>

  <div id="<%= dom_id lista_contato %>">
    <p>
      <strong>Primeiro nome:</strong>
      <%= lista_contato.Primeiro_Nome %>
    </p>

    <p>
      <strong>Ultimo nome:</strong>
      <%= lista_contato.Ultimo_Nome %>
    </p>

    <p>
      <strong>Email:</strong>
      <%= lista_contato.Email %>
    </p>

    <p>
      <strong>Telefone:</strong>
      <%= lista_contato.Telefone %>
    </p>

  </div>
</div>


